@import "config.less";
@import "mixin.less";

body{
    margin: 0;
    padding: 0;
    font-size: @fontS;
    color: @fontC;
    line-height: 1.5;
    font-family: @fontFamily;
}
input,
textarea{
    font-size: @fontS;
    color: @fontC;
    line-height: 1;
    font-family: @fontFamily;
}

*{
    .box-sizing();
    // 手机上轻点后变灰
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.mvvm{
    visibility: hidden;
}


